<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwiftKYC | DigiLocker</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    {% extends "base.html" %}
    {% block content %}

    <div class="text-center">
        <h2>Connect DigiLocker 🔐</h2>
        <p>Securely fetch your Aadhaar & PAN</p>

        <a href="/digilocker-login" class="btn btn-primary btn-lg">
            Login with DigiLocker
        </a>
    </div>

    {% endblock %}

</body>

</html>