<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwiftKYC | DigiLocker Login</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    {% extends "base.html" %}
    {% block content %}

    <h2>DigiLocker Login</h2>

    <form method="post">
        <input class="form-control" name="dl_id" placeholder="Aadhaar / Mobile Number" required>
        <button class="btn btn-primary mt-3">Send OTP</button>
    </form>

    {% endblock %}

</body>

</html>